* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*VARIABLES*/
$main-color: black;
$secondary-color: #0098a2;
$third-color: white;

/*BODY------------------------------------------------------------------------------------*/
body {
  background-color: $main-color;
  width: 100%;
}

/*FOOTER----------------------------------------------------------------------------------*/
footer div {
  color: white;
  display: flex;
  margin: auto 0.5rem;
  padding: 1rem 1rem 1rem 1rem;
  justify-content: center;
  align-items: center;
}
.whatsapp {
  margin: 1rem;
}
.instagram {
  margin: 1rem;
}
footer {
  //background-color: $secondary-color;
  height: 11vh;
  width: 90%;
}

/*HEADER---------------------------------------------------------------------------------*/
header {
  justify-content: center;
  align-content: center;
}

#container-fluid {
  justify-content: center;
}
#nav-link-styles {
  text-decoration: none;
  color: $third-color !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  justify-content: center;
  margin: auto;

  :hover {
    transition: 0.5s;
    color: $secondary-color !important;
  }
}
.navbar-brand {
  background-color: transparent;
  margin: auto 2rem;
  width: 95%;
  justify-content: center;
}
.header-flex {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: auto;
}
.logo {
  margin: auto;
  justify-content: center;
}
.bg-dark {
  background-color: $main-color !important;
}
button {
  color: $third-color !important;
  justify-content: flex-end;
}
.nav-link {
  color: $third-color !important;
  margin: auto 1rem;
  padding: auto 2rem;
  justify-content: center !important;
  width: 95%;

  //text-align: center;
  /*background: rgba(0, 152, 162, 0.2) ();
  border-radius: 1rem;*/
}

// Container mixins

@mixin make-container($gutter: $container-padding-x) {
  padding-right: var(--#{$variable-prefix}gutter-x, #{$gutter});
  padding-left: var(--#{$variable-prefix}gutter-x, #{$gutter});
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

/*Contenido INDEX----------------------------------------------------------------*/

.video-style {
  display: flex;
  flex-direction: column;
  .video-style-resolution {
    width: 380px;
    height: 315px;
  }
  .video-style-texto {
    margin: auto;
    //color: $third-color !important;
    justify-content: center;
    font-family: "Fjalla One", sans-serif;
    font-style: italic;
    color: rgb(192, 196, 243) !important;
    font-weight: bolder !important;
    font-size: 30pt !important;
  }
  .video-style-texto-button {
    //background-color: $secondary-color !important;
    text-decoration: none !important;
    color: $third-color !important;
    border-radius: 1rem;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
  }
}

/*Contenido NOSOTROS----------------------------------------------------------------*/
.container-style {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.col-sm {
  text-align: justify;
  color: $third-color !important;
  width: 90%;
  margin: auto;
  padding: 1em;
  justify-content: center;
  align-content: center;
  background: linear-gradient(rgba(0, 152, 162, 0.9), rgba(0, 152, 162, 0.4));
  border-radius: 1em;
}
.col-sm-secondtext {
  text-align: justify;
  color: $third-color !important;
  width: 90%;
  margin: auto;
  padding: 1em;
  justify-content: center;
  align-content: center;
  background: linear-gradient(rgba(0, 152, 162, 0.9), rgba(0, 152, 162, 0.3));
  border-radius: 1em;
}
.col-sm h3 {
  margin: 1rem 0rem 0rem 0rem;
  color: $third-color;
  font-weight: bolder;
  text-align: center;

  /*background: linear-gradient(rgba(120, 122, 122, 0.9), rgba(14, 13, 13, 0));*/
}
.col-sm-secondtext h3 {
  margin: 1rem 0rem 0rem 0rem;
  color: $third-color;
  font-weight: bolder;
  text-align: center;
}
.container-image {
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}

/*Contenido INSUMOS---------------------------------------------------------------*/

.contenidoInsumos {
  display: flex;
  flex-direction: column;
}
.tituloInsumos {
  margin: auto;
  padding: 1.5rem;
  color: rgb(121, 146, 230);
  text-align: center;
  font-size: 2rem;
  font-family: "Fjalla One", sans-serif;
  font-style: italic;
}
.textoInsumos {
  margin: auto;
  width: 95%;
  padding: 1rem;
  color: white;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.imagenReparacion {
  margin: auto;

  padding-top: 1rem;
  align-items: center;
}

/*Contenido CONTACTO ------------------------------------------------------------*/
.formulario-style {
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  color: $third-color;
  display: flex;
  flex-direction: column;
  border: solid 3px $secondary-color;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
}
.container-style {
  width: 90%;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  .container-style p {
    color: $third-color;
    text-align: center;
    margin: auto;
    padding: 1rem;
    font-family: "Fjalla One", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.botones {
  justify-content: center;
  display: flex;
}
.boton-formulario {
  padding: 0.4em;
  margin: auto 0.4em;
  border-radius: 0.3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: $secondary-color;
}
/* AJUSTES DE MEDIA QUERIES ----------------------------------------------------- */

@media (min-width: 992px) {
  /*Modificaciones INDEX-----------------------------------------------------------*/
  #nav-link-styles {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
  }
  .carousel-style {
    width: 80%;
    margin: auto;
    justify-content: center;
  }
  .video-style {
    width: 80%;
    margin: auto;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    .video-style-resolution {
      width: 500px;
      height: 450px;
    }
    .video-style-texto {
      margin: auto;
      //color: $third-color !important;
      justify-content: center;
      font-family: "Fjalla One", sans-serif;
      font-style: italic;
      color: rgb(192, 196, 243) !important;
      font-weight: bolder !important;
      font-size: 30pt !important;
    }
    .video-style-texto-button {
      //background-color: $secondary-color !important;
      text-decoration: none !important;
      color: $third-color !important;
      border-radius: 1rem;
      margin: auto;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      justify-content: center;
    }
  }

  /*Modificaciones NOSOTROS--------------------------------------------------------------------*/
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: inherit;
  }
  .container-style {
    width: 80%;
    margin: auto;
  }
  .col-sm {
    text-align: justify;
    color: $third-color !important;
    width: 100%;
    margin: 1rem;
    padding: 1em;
    justify-content: center;
    align-content: center;
    background: linear-gradient(rgba(0, 152, 162, 0.9), rgba(0, 152, 162, 0.4));
    border-radius: 1em;
  }

  .col-sm-secondtext {
    text-align: justify;
    color: $third-color !important;
    width: 100%;
    margin: 1rem;
    padding: 1em;
    padding-top: 2rem;
    justify-content: flex-end;
    align-content: flex-end;
    background: linear-gradient(rgba(0, 152, 162, 0.9), rgba(0, 152, 162, 0.3));
    border-radius: 1em;
  }
  .col-sm-secondtext h3 {
    margin: 1rem 0rem 0rem 0rem;
    color: $third-color;
    font-weight: bolder;
    text-align: center;
  }

  /* Modificaciones INSUMOS------------------------------------------------------------------------------ */

  .contenidoInsumos {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .tituloInsumos {
    margin: auto;
    padding: 1rem rgb(121, 146, 230);
    text-align: center;
    font-size: 3rem;
    font-family: "Fjalla One", sans-serif;
    font-style: italic;
  }
  .textoInsumos {
    margin: auto;
    padding-top: 1rem;
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .imagenReparacion {
    width: auto;
    margin: auto;
    align-items: center;
  }

  /*Modificaciones CONTACTO ---------------------------------------------------------------*/
  .container-style {
    width: 80%;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    .container-style p {
      color: $third-color;
      text-align: center;
      margin: auto;
      padding: 1rem;
      font-family: "Fjalla One", sans-serif;
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .formulario-style {
    display: flex;
    justify-content: center;
    border: solid 3px $secondary-color;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
  }
  .col-md-4 {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .botones {
    justify-content: center;
    display: flex;
  }
  .boton-formulario {
    padding: 0.4em;
    margin: auto 0.4em;
    border-radius: 0.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: $secondary-color;
  }
}
