* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*VARIABLES*/
$main-color: black;
$secondary-color: #0098a2;
$third-color: white;

/*BODY*/
body {
  background-color: $main-color;
  width: 100%;
}

/*FOOTER*/
footer div {
  color: white;
  display: flex;
  margin: auto 0.5rem;
  padding: 1rem 1rem 1rem 1rem;
  justify-content: center;
  align-items: center;
}
.whatsapp {
  margin: 1rem;
}
.instagram {
  margin: 1rem;
}
footer {
  //background-color: $secondary-color;
  height: 11vh;
  width: 90%;
}

/*HEADER*/
header {
  justify-content: center;
  align-content: center;
}

#container-fluid {
  justify-content: center;
}
#nav-link-styles {
  text-decoration: none;
  color: $third-color !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  justify-content: center;
  margin: auto;

  :hover {
    transition: 0.5s;
    color: $secondary-color !important;
  }
}
.navbar-brand {
  background-color: transparent;
  margin: auto 2rem;
  width: 95%;
  justify-content: center;
}
.header-flex {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: auto;
}
.logo {
  margin: auto;
  justify-content: center;
}
.bg-dark {
  background-color: $main-color !important;
}
button {
  color: $third-color !important;
  justify-content: flex-end;
}
.nav-link {
  color: $third-color !important;
  margin: auto 1rem;
  padding: auto 2rem;
  justify-content: center !important;
  width: 95%;

  //text-align: center;
  /*background: rgba(0, 152, 162, 0.2) ();
  border-radius: 1rem;*/
}

// Container mixins

@mixin make-container($gutter: $container-padding-x) {
  padding-right: var(--#{$variable-prefix}gutter-x, #{$gutter});
  padding-left: var(--#{$variable-prefix}gutter-x, #{$gutter});
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

/*Contenido INDEX*/

.video-style-resolution {
  width: 380px;
  height: 315px;
}
.video-style-texto {
  margin: auto;
  //color: $third-color !important;
  justify-content: center;
  font-family: "Fjalla One", sans-serif;
  font-style: italic;
  color: rgb(192, 196, 243) !important;
  font-weight: bolder;
  font-size: 50pt;
}
.video-style-texto-button {
  //background-color: $secondary-color !important;
  text-decoration: none !important;
  color: $third-color !important;
  border-radius: 1rem;
  margin: auto;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
}

/*Contenido NOSOTROS*/

.col-sm {
  text-align: justify;
  color: $third-color !important;
  width: 90%;
  margin: 1rem;
  padding: 1em;
  justify-content: center;
  align-content: center;
  background: linear-gradient(rgba(0, 152, 162, 0.9), rgba(0, 152, 162, 0.4));
  border-radius: 1em;
}
.col-sm-secondtext {
  text-align: justify;
  color: $third-color !important;
  width: 90%;
  margin: 1rem;
  padding: 1em;
  justify-content: center;
  align-content: center;
  background: linear-gradient(rgba(0, 152, 162, 0.9), rgba(0, 152, 162, 0.3));
  border-radius: 1em;
}
.col-sm h3 {
  margin: 1rem 0rem 0rem 0rem;
  color: $third-color;
  font-weight: bolder;
  text-align: center;

  /*background: linear-gradient(rgba(120, 122, 122, 0.9), rgba(14, 13, 13, 0));*/
}
.container-image {
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}
@media (min-width: 992px) {
  /*Modificaciones INDEX*/
  #nav-link-styles {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
  }
  .carousel-style {
    width: 80%;
    margin: auto;
    justify-content: center;
  }
  .video-style {
    width: 80%;
    margin: auto;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    .video-style-resolution {
      width: 500px;
      height: 450px;
    }
    .video-style-texto {
      margin: auto;
      color: $third-color !important;
    }
    .video-style-texto-button {
      //background-color: $secondary-color !important;
      text-decoration: none !important;
      color: $third-color !important;
      border-radius: 1rem;
      margin: auto;
      font-size: 1rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }

  /*Modificaciones NOSOTROS*/
  .flex-container {
    display: flex;
    flex-direction: row;
  }
  .container-style {
    width: 80%;
    margin: auto;
    justify-content: center;
  }
}
