* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*VARIABLES*/
/*BODY*/
body {
  background-color: black;
  width: 100%;
}

/*FOOTER*/
footer div {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0.5rem;
  padding: 1rem 1rem 1rem 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whatsapp {
  margin: 1rem;
}

.instagram {
  margin: 1rem;
}

footer {
  height: 11vh;
  width: 90%;
}

/*HEADER*/
header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#container-fluid {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav-link-styles {
  text-decoration: none;
  color: white !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

#nav-link-styles :hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #0098a2 !important;
}

.navbar-brand {
  background-color: transparent;
  margin: auto 2rem;
  width: 95%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
}

.logo {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-dark {
  background-color: black !important;
}

button {
  color: white !important;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-link {
  color: white !important;
  margin: auto 1rem;
  padding: auto 2rem;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  width: 95%;
  /*background: rgba(0, 152, 162, 0.2) ();
  border-radius: 1rem;*/
}

/*Contenido INDEX*/
/*Contenido NOSOTROS*/
.col-sm {
  text-align: justify;
  color: white !important;
  width: 90%;
  margin: 1rem;
  padding: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 152, 162, 0.9)), to(rgba(0, 152, 162, 0.4)));
  background: linear-gradient(rgba(0, 152, 162, 0.9), rgba(0, 152, 162, 0.4));
  border-radius: 1em;
}

.col-sm-secondtext {
  text-align: justify;
  color: white !important;
  width: 90%;
  margin: 1rem;
  padding: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 152, 162, 0.9)), to(rgba(0, 152, 162, 0.3)));
  background: linear-gradient(rgba(0, 152, 162, 0.9), rgba(0, 152, 162, 0.3));
  border-radius: 1em;
}

.col-sm h3 {
  margin: 1rem 0rem 0rem 0rem;
  color: white;
  font-weight: bolder;
  text-align: center;
  /*background: linear-gradient(rgba(120, 122, 122, 0.9), rgba(14, 13, 13, 0));*/
}

.container-image {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  padding: 1rem;
}

@media (min-width: 992px) {
  /*Modificaciones INDEX*/
  #nav-link-styles {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .carousel-style {
    width: 80%;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*Modificaciones NOSOTROS*/
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */